.footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 244, 236);
  padding: 57px 22px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-brand{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.brand-logo{
  width: 177px;
  height: 46px;
}

.col-brand p{
  font-size: 14px;
  font-weight: 300;
  color: rgb(90, 90, 90);
  width: 224px;
}

.social-icons{
  display: flex;
  gap: 44px;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.col h4{
  font-size: 16px;
  font-weight: 500;
  color: rgb (46, 45, 41);
  margin-bottom: 5px;
}

.col a{
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(90, 90, 90);
}
.contact-block{
  display: flex;
  gap: 9px;
}

.rectangle{
  width: 100%;
  height: 1px;
  background-color: rgb(218, 218, 213);
  margin-top: 92px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-bottom p{
  font-size: 14px;
  font-weight: 300;
  color: rgb(90, 90, 90);
}

.footer-links{
  display: flex;
  gap: 31px;
  
}

.footer-links a{
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.space-filler{
  height: 40px;
}

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    gap: 24px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .rectangle{
  margin-top: 24px;
}

}