.newsletter{
  display: flex;
  height: 206px;
  padding: 10px 82px;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
  background-color: rgb(241, 240, 239);
  margin-top: 42px;
}

.newsletter h2{
  font-size: 28px;
  font-weight: 350;
  color: rgb(46, 45, 41);
  width: 180px;
  margin-bottom: 0;
  margin-top: 0;
}

.newsletter h3{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: rgb(46, 45, 41);
  width: 453px;
  margin-top: 0;
  margin-bottom: 0;
}


.search-bar{
  flex: 1;
  height: 63px;
  padding-left: 22px;
  font-size: 20px;
  font-family: open sans;
  font-weight: 300;
  color: rgba(90, 90, 90, 0.86);
  border: 1px solid rgba(79, 112, 78, 0.426);
  border-radius: 6px;
  width: 382px;
}

.search-bar::placeholder{
  font-size: 20px;
  color: rgba(90, 90, 90, 0.594);
  font-weight: 300;
}

.yellow-button{
  font-size: 16px;
  font-weight: 500;
  color: rgb(46, 45, 41);
  background-color: rgb(216, 184, 123);
  border: none;
  border-radius: 11px;
  padding: 15px 40px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.yellow-button:hover {
  background-color: rgb(210, 175, 105);
}

@media (max-width: 992px) {
  .newsletter {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 40px 30px;
    gap: 15px;
  }

  .newsletter h2,
  .newsletter h3 {
    width: 100%;
  }

   .search-bar {
    width: 382px;
    height: 63px;
    padding: 18px 22px;
  }

  .yellow-button {
    width: 100%;
    max-width: 160px;
  }
 
}


@media (max-width: 576px) {
  .search-bar {
    width: 290px;
    height: 52px;
    padding: 18px 22px;
  }

  .search-bar::placeholder{
  font-size: 16px;
}

.newsletter h3{
  font-size: 16px;
}

.newsletter h2{
  font-size: 24px;
}

}