.why-us{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; 
  gap: 60px;
  background-color: rgba(164, 180, 156, 0.569);
  border-radius: 6px;
  margin-top: 42px;
  margin-bottom: 0;
  padding: 24px 100px;
}

.feature{
  text-align: left;
  max-width: 260px; 
  margin-top: 0;
  margin-bottom: 0;
}

.title1{
  font-size: 24px;
  font-weight: 500;
  color: rgb(44, 61, 43);
  margin-top: 10px;
  margin-bottom: 0;
}

.subtext1{
  font-size: 16px;
  font-weight: 200;
  color: rgb(44, 61, 43);
  margin-top: 6px;
}

@media (max-width: 900px) {
  .why-us {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .why-us {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (max-width: 576px) {
  .why-us{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 32px;
  }
  
  .title1{
  font-size: 20px; 
  }

}