
.story-container{
  display: flex;
  background-color: rgb(248, 244, 236);
  padding: 38px 58px;
  margin-top: 42px;
  justify-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap; 
} 

.story-image{
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  border-radius: 6px;
}

.story-text {
  flex: 1;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.story-text h2 {
  font-size: 28px;
  font-weight: 350;
  color: rgb(46, 45, 41);
  margin-bottom: 36px;
  text-align: center;
}

.story-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: rgb(46, 45, 41);
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  flex-wrap: wrap;
}

.stat h1 {
  font-size: 48px;
  color: rgb(58, 85, 41);
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 0;
}

.stat p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(44, 61, 43);
  margin-top: 0;
}

@media (max-width: 992px) {
  .story-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .story-image img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    gap: 20px;
  }
}