.featured-products{
  display: grid;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  justify-items: auto;
  gap: 30px;
  margin-top: 23px;
}

.product-card {
  width: 325px;
  box-sizing: border-box;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
}
.product-image{
  width: 325px;
  height: 336px;
  object-fit: cover;
  border-radius: 6px;
}
  

.title2{
  font-size: 28px;
  font-weight: 350;
  margin-top: 42px;
  color: rgb(46, 45, 41);
  margin-bottom: 0;
}

.product-info {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.product-name{
  font-size: 20px;
  font-weight: 500;
  color: rgb(46, 45, 41);
}

.rating{
  display: grid;
  grid-template-columns: 105px 105px;
  column-gap: 10px;
  font-size: 12px;
  font-weight: 200;
  color: rgb(90, 90, 90);
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.price{
  font-size: 18px;
  font-weight: 500;
  color: rgb(46, 45, 41);
}

.center-btn{
  text-align: center;
}

.green-button{
  font-size: 16px;
  font-weight: 500;
  color: rgb(246, 244, 236);
  background-color: rgb(58, 85, 41);
  border: none;
  border-radius: 11px;
  padding: 15px 40px;
  margin-top: 48px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.green-button:hover {
  background-color: rgb(47, 66, 37);
}